article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: url("../img/wallpaper.png");
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

html, body {
  height: 100%; }

.wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px; }

.wrapper:after {
  content: "";
  display: block; }

.foot, .wrapper:after {
  /* .push must be the same height as footer */
  height: 100px; }

.foot {
  background: #7F7578;
  clear: both; }

/*******************************
    INITIAL CSS/ WORKING CODE
********************************/
/****DEFAULTS*****/
* {
  box-sizing: border-box;
  margin: 0 auto; }

body {
  text-align: center; }

h1, h2, h3 {
  font-family: "Nova Square", cursive;
  text-align: center;
  font-size: 1.5rem; }

h4 {
  text-align: center;
  margin: 0;
  padding-top: 20px;
  font-family: "Raleway", sans-serif bold;
  font-size: 1.5rem; }

h5 {
  text-align: center;
  margin-top: 0px;
  padding-top: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 0.7rem; }

p {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  text-align: center;
  padding: 20px;
  height: auto; }

.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  text-align: center;
  margin-bottom: 50px; }

div#btm {
  /* STEVE! WHY WHEN I TRY TO STYLE THIS AND VIEW IN INSPECTOR ITS JUST A LINE AT THE TOP UNDER THE HEADER?SHOULD BE THE WHOLE COL-4 WRAPPER??*/ }

.iconic {
  text-align: center;
  margin: 0 auto;
  opacity: 1;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.col-3 {
  min-height: 100px;
  float: left;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  width: 100%;
  margin-left: 0%; }
  .col-3:first-child {
    margin-left: 0; }

.col-4 {
  background: #CBBBBF;
  min-height: 100px;
  float: left;
  width: 100%;
  margin-left: 0%; }
  .col-4:first-child {
    margin-left: 0; }

.col-3 p {
  position: absolute;
  top: 60px;
  left: 0px;
  opacity: 0;
  width: 100%;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.btn {
  text-align: center;
  font-size: 12px;
  border-radius: 10px;
  color: #fff;
  background: -webkit-linear-gradient(gray 0%, black 100%);
  background: -o-linear-gradient(gray 0%, black 100%);
  background: -moz-linear-gradient(gray 0%, black 100%);
  background: linear-gradient(gray 0%, black 100%);
  -moz-transition: all 0s ease;
  -webkit-transition: all 0s ease;
  -ms-transition: all 0s ease;
  -o-transition: all 0s ease;
  transition: all 0s ease; }

/******HOVER STATES********/
.col-3:hover .iconic {
  opacity: 0.1; }

.col-3:hover p {
  opacity: 1; }

.btn:hover {
  color: #7F7578;
  background: -webkit-linear-gradient(lightgray 0%, gray 100%);
  background: -o-linear-gradient(lightgray 0%, gray 100%);
  background: -moz-linear-gradient(lightgray 0%, gray 100%);
  background: linear-gradient(lightgray 0%, gray 100%); }

/******MEDIA QUERIES********/
@media all and (min-width: 450px) {
  .col-3 p {
    width: 70%;
    margin-left: 15%; } }
@media all and (min-width: 720px) {
  .col-4 {
    width: 50%;
    margin-left: 0%; }
    .col-4:first-child {
      margin-left: 0; }

  .col-4 p {
    min-height: 100px; } }
@media all and (min-width: 960px) {
  .col-3 p {
    margin: 0;
    width: 100%; }

  .col-4 p {
    min-height: 135px; }

  .col-3 {
    height: auto;
    float: left;
    width: 30%;
    margin-left: 5%; }
    .col-3:first-child {
      margin-left: 0; }

  .col-4 {
    background: #CBBBBF;
    min-height: 230px;
    float: left;
    width: 25%;
    margin-left: 0; }
    .col-4:first-child {
      margin-left: 0; }

  .col-4 .btn {
    margin-bottom: 20px; } }

/*# sourceMappingURL=main.css.map */
