/*******************************
    INITIAL CSS/ WORKING CODE
********************************/

/****DEFAULTS*****/

*{
    box-sizing: border-box; 
     margin:0 auto;
}
body{ 
    text-align: center;
}

h1, h2, h3{
    
    font-family: $font1;
    text-align: center;
    font-size: $fsize2;
}

h4{
    text-align: center;
    margin: 0;
    padding-top:$pad1;
    font-family: $font2 bold;
    font-size: $fsize2;
    
}
h5{
    
    text-align: center;
    margin-top: 0px;
    padding-top:$pad1;
    font-family: $font2 ;
    font-size: $fsize3;
    
}


p{
    font-family: $font2;
    font-weight: 200;
    text-align: center;
    padding: $pad1;
    height:auto;
}
.btn{
    font-family: $font2;
    font-weight: 200;
    text-align: center;
    margin-bottom:$pad2;
    
}

div#btm{
    
    /* STEVE! WHY WHEN I TRY TO STYLE THIS AND VIEW IN INSPECTOR ITS JUST A LINE AT THE TOP UNDER THE HEADER?SHOULD BE THE WHOLE COL-4 WRAPPER??*/
    
    
}

.iconic{
    text-align: center;
    margin: 0 auto;
    opacity: 1;
    
    @include transIT(1s);
    
}

.col-3{
    min-height: 100px;
    float: left;
    text-align: center;
    padding-top: $pad2;
    padding-bottom: $pad2;
    position: relative;
     
  // equalSpaced( $num_of_cols, $spacing, $width  )
  @include equalSpaced(1, 0%, 100%);
}



.col-4{
      background: $color1;
      min-height: 100px;
      float: left;


      // equalSpaced( $num_of_cols, $spacing, $width  )
      @include equalSpaced(1, 0%, 100%);
}

.col-3 p{
    
    position:absolute;
    top:60px;
    left:0px;
    opacity: 0;
    width: 100%;
    
    @include transIT(1s);
}



.btn{
    text-align: center;
    font-size: 12px;
    border-radius: 10px; 
    color: #fff;
    @include gradient(gray 0%,black 100%);
    @include transIT(0s);
}

/******HOVER STATES********/

.col-3:hover .iconic{
    
    opacity: 0.1;
}

.col-3:hover p{
    
    opacity: 1;
}

.btn:hover{
    
    color: $color5;
    @include gradient(lightgray 0%, gray 100%);
    
}

/******MEDIA QUERIES********/
@media all and (min-width: 450px){

    .col-3 p{
    
        width: 70%; 
        margin-left: 15%
        
    }
    
    
}

@media all and (min-width: 720px){
  .col-4 {
        
        @include equalSpaced(2, 0%, 100%);
    }   
    
    .col-4 p{
        min-height: 100px;
        
    }
    
}

@media all and (min-width: 960px){
    
    .col-3 p{
        
        margin: 0;
        width: 100%;
        
    }
    
    .col-4 p{
        min-height:135px;
        
    }
    .col-3{
      height: auto;
      float: left;

      // equalSpaced( $num_of_cols, $spacing, $width  )
      @include equalSpaced(3, 5%, 100%);
    }

    .col-4{
      background: $color1;
      min-height: 230px;
      float: left;
      // equalSpaced( $num_of_cols, $spacing, $width  )
      @include equalSpaced(4, 0, 100%);
    }
    .col-4 .btn{
        
        margin-bottom: $pad1;
    }
}