@mixin equalSpaced( $num_of_cols, $spacing, $width  ){
  
  width: ( $width - ( $spacing * ($num_of_cols - 1) ) ) / $num_of_cols;
  margin-left: $spacing;
  
  // Remove Spacing from First Child
  &:first-child{
    margin-left: 0;
  }
  
}

@mixin transIT($time){
    -moz-transition: all $time ease;
    -webkit-transition: all $time ease;
    -ms-transition: all $time ease;
    -o-transition: all $time ease;
    transition: all $time ease; 
}

@mixin gradient($col1, $col2){
    background: -webkit-linear-gradient($col1,$col2); 
    background: -o-linear-gradient($col1, $col2); 
    background: -moz-linear-gradient($col1, $col2); 
    background: linear-gradient($col1, $col2); 
}