$font1: 'Nova Square', cursive;
$font2: 'Raleway', sans-serif;
$color1: #CBBBBF;
$fsize1: 2.2rem;
$fsize2: 1.5rem;
$fsize3: 0.7rem;
$color2: #7F4F5B;
$color3: #FFEBF0;
$color4: #FFAFC3;
$color5: #7F7578;
$background: url("../img/wallpaper.png");
$pad1: 20px;
$pad2: 50px;
